.ProfileContainer{
    background-color: rgb(235, 238, 242);

}

.subProfileContainer{
    width: 80%;
    margin: auto;
    display: flex;
    /* margin-right: -30px; */
    justify-content: space-between;
}